.offers{
    padding-block: 60px;
    background: #171717;
}
.offerstop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
.offerstop p{
    max-width: 650px;
    color:rgb(210, 214, 214);
}
.offersright{
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:20px;
    margin-top: 40px;
}